<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <!-- List of uploaded tracks -->
        {% if tracks %}
            <ul>
                {% for track in tracks %}
                    <li><a href="{{ track.url.url }}">{{ track.name}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tracks.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

          <p>
            {{ form.non_field_errors }}
            {{ form.uploadfile.label_tag }}
            {{ form.uploadfile.help_text }}
            {{ form.uploadfile.errors }}
            {{ form.uploadfile }}
          </p>
          <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

    <script src='../../client/index.js' type='text/javascript'>$(() => start))</script>
</html>
